fieldset {
    border: solid 1px #ccc;
    padding: 30px;
    margin-top: 30px;
}

legend {
    padding: 0 25px;
}

#custom-map {
    z-index: 10;
}

.custom-area, .reserved-spots .spot {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #70d869;  /*For diagnosis*/
    z-index: 10;
    font-size: 11px;
    color: #66ac76;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}

.reserved-spots .spot {
    color: #000;
    margin: 0 3px;
}

.custom-area {
    position: absolute;
}

.custom-area.rotate {
    transform: rotate(45deg);
}

.custom-area.reserved {
    background: #e15b5c;
    color: #b63846;
    cursor: not-allowed;
}

.custom-area.selected {
    background: black;
    color: white;
}

.custom-area.hovered:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: solid 4px #DDDD00;
    border-radius: 100%;
    top: -5px;
    left: -6px;
    background: rgba(255,255,0,0.6);
}

.reserved-spots {
    position: absolute;
    right: 0;
    top: 0;
    width: 350px;
    padding: 20px;
}

.reserved-spots h1 {
    font-size: 14px;
    font-weight: bolder;
}

.red-tooltip .tooltip > .tooltip-inner {background-color: #f00;}
.table {
    margin-top: 20px;
}

.btn.disabled {
    cursor: not-allowed;
}